alabaster==0.7.12
appdirs==1.4.4
appnope==0.1.0; sys_platform == "darwin"
astroid==2.4.2
atomicwrites==1.4.0; python_version >= "3.0" and sys_platform == "win32" or sys_platform == "win32" or python_version >= "3.5" and sys_platform == "win32"
attrs==19.3.0
babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.9.1
black==19.10b0
brotli==1.0.7
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
codecov==2.1.8
colorama==0.4.3; python_version >= "3.0" and sys_platform == "win32" or sys_platform == "win32" or python_version >= "3.5" and sys_platform == "win32"
coverage==5.2.1
dash==1.14.0
dash-bootstrap-components==0.10.3
dash-core-components==1.10.2
dash-daq==0.5.0
dash-html-components==1.0.3
dash-renderer==1.6.0
dash-table==4.9.0
decorator==4.4.2
distlib==0.3.1
docutils==0.16
filelock==3.0.12
flask==1.1.2
flask-compress==1.5.0
future==0.18.2
gunicorn==20.0.4
identify==1.4.25
idna==2.10
imagesize==1.2.0
ipython==7.17.0
ipython-genutils==0.2.0
isort==5.3.2
itsdangerous==1.1.0
jedi==0.17.2
jinja2==2.11.2
lazy-object-proxy==1.5.1
lxml==4.5.2
markupsafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
mypy==0.782
mypy-extensions==0.4.3
nodeenv==1.4.0
numpy==1.19.1
packaging==20.4
pandas==1.0.5
parso==0.7.0
pathspec==0.8.0
percy==2.0.2
pexpect==4.8.0; sys_platform != "win32"
pickleshare==0.7.5
plotly==4.9.0
pluggy==0.13.1
poetry-version==0.1.5
pre-commit==2.6.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0; sys_platform != "win32"
py==1.9.0
pygments==2.6.1
pylint==2.5.3
pyparsing==2.4.7
pytest==5.3.5
pytest-cov==2.10.0
pytest-instafail==0.4.2
pytest-mock==2.0.0
pytest-mypy==0.6.2
pytest-runner==5.2
pytest-sugar==0.9.2
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
regex==2020.7.14
requests==2.21.0
retrying==1.3.3
selenium==3.141.0
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
sphinx==3.1.2
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
termcolor==1.1.0
toml==0.10.1
tomlkit==0.5.11
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.24.3
virtualenv==20.0.27
waitress==1.4.3
wcwidth==0.2.5
werkzeug==1.0.1
wrapt==1.12.1
